{% extends 'client/base.html' %}
{% load static %}

{% block head %}
<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Client List</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'client/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'client/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/fonts/tabler-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->

    <link rel="stylesheet" href="{% static 'client/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'client/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />

    <link rel="stylesheet" href="{% static 'client/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'client/vendor/libs/node-waves/node-waves.css' %}" />

    <link rel="stylesheet" href="{% static 'client/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'client/vendor/libs/@form-validation/form-validation.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'client/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'client/vendor/js/template-customizer.js' %}"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'client/js/config.js' %}"></script>

{% endblock %}

{% block content %}

<!-- Layout wrapper -->
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
      <div class="layout-container">
        <!-- Navbar -->

        <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
          <div class="container-xxl">
            <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
              <a href="index.html" class="app-brand-link">
                <span class="app-brand-logo demo">
                  <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                      fill="#7367F0" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                      fill="#161616" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                      fill="#161616" />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                      fill="#7367F0" />
                  </svg>
                </span>
                <span class="app-brand-text demo menu-text fw-bold">Box</span>
              </a>

              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="ti ti-x ti-md align-middle"></i>
              </a>
            </div>

            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="ti ti-menu-2 ti-md"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <div class="navbar-nav align-items-center">
                <div class="nav-item dropdown-style-switcher dropdown">
                  <a
                    class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown">
                    <i class="ti ti-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-start dropdown-styles">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                        <span class="align-middle"><i class="ti ti-sun me-3"></i>Light</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                        <span class="align-middle"><i class="ti ti-moon-stars me-3"></i>Dark</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                        <span class="align-middle"><i class="ti ti-device-desktop-analytics me-3"></i>System</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow p-0"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{% static 'client/img/avatars/1.png' %}" alt class="rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item mt-0" href="#">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 me-2">
                            <div class="avatar avatar-online">
                              <img src="{% static 'client/img/avatars/1.png' %}" alt class="rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            {% if user.is_authenticated %}
                            <h6 class="mb-0">{{ user.username }}</h6>
                            {% else %}
                            {% endif %}
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="ti ti-user me-3 ti-md"></i><span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 ti ti-file-dollar me-3 ti-md"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge bg-danger d-flex align-items-center justify-content-center"
                            >4</span
                          >
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                      <div class="d-grid px-2 pt-2 pb-1">
                        <a class="btn btn-sm btn-danger d-flex" href="{% url 'logout' %}">
                          <small class="align-middle">Logout</small>
                          <i class="ti ti-logout ms-2 ti-14px"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </div>
        </nav>

        <!-- / Navbar -->
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
              <div class="container-xxl d-flex h-100">
                <ul class="menu-inner py-1">
                  <!-- Page -->
                  <li class="menu-item">
                    <a href="{% url 'clientlist' %}" class="menu-link">
                      <i class="menu-icon tf-icons ti ti-smart-home"></i>
                      <div data-i18n="Dashboard">Dashboard</div>
                    </a>
                  </li>
                  <li class="menu-item active">
                    <a class="menu-link menu-toggle">
                      <i class="menu-icon tf-icons ti ti-app-window"></i>
                      <div data-i18n="Client">Client</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="{% url 'clientadd' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-app-window"></i>
                            <div data-i18n="Add Client">Add Client</div>
                            </a>
                        </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link menu-toggle">
                      <i class="menu-icon tf-icons ti ti-app-window"></i>
                      <div data-i18n="Network">Network</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="{% url 'networklist' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-app-window"></i>
                            <div data-i18n="List">List</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'router_create' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-layout-grid-add"></i>
                            <div data-i18n="Add Router">Add Router</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'pool_create' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-layout-grid-add"></i>
                            <div data-i18n="Add Pool">Add Pool</div>
                            </a>
                        </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'tariff_list' %}" class="menu-link menu-toggle">
                      <i class="menu-icon tf-icons ti ti-app-window"></i>
                      <div data-i18n="Tariff">Tariff</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="{% url 'tariff_list' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-app-window"></i>
                            <div data-i18n="List">List</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'tariff_create' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-layout-grid-add"></i>
                            <div data-i18n="Add Tariff">Add Tariff</div>
                            </a>
                        </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </aside>
            <!-- / Menu -->
          <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <!-- User Sidebar -->
                <div class="col-xl-5 col-lg-6 order-1 order-md-0">
                  <!-- User Card -->
                  <div class="card mb-6">
                  <div class="card-body pt-12">
                    <div class="user-avatar-section">
                                {% if messages %}
                                <div class="messages text text-center">
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                      <div class="d-flex align-items-center flex-column">
                        <div class="user-info text-center">
                          <h5>{{ client.first_name }} {{ client.last_name }}</h5>
                          <span class="badge bg-label-secondary">{{ client.status }}</span>
                        </div>
                      </div>
                    </div>
                    <h5 class="pb-4 border-bottom mb-4"><span class="badge bg-label-primary"">Account: {{ client.account_number }}</span></h5>
                    <div class="info-container">
                      <form id="formAccountSettings" method="POST" action="{% url 'clientview' pk=client.pk %}">
                        {% csrf_token %}
                        <div class="row">
                          <div class="mb-4 col-md-6">
                            <label for="id_first_name" class="form-label">First Name</label>
                            <input
                              class="form-control"
                              type="text"
                              value="{{ client.first_name }}"
                              name="first_name"
                              placeholder="{{client.first_name}}"
                              autofocus />
                          </div>
                          <div class="mb-4 col-md-6">
                            <label for="id_last_name" class="form-label">Last Name</label>
                            <input class="form-control" type="text" name="last_name" value="{{client.last_name}}" placeholder="{{client.last_name}}" />
                          </div>
                          <div class="mb-4 col-md-6">
                            <label for="id_email" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="email"
                              value="{{ client.email }}"
                              name="email"
                              placeholder="{{client.email}}" />
                          </div>
                          <div class="mb-4 col-md-6">
                            <label for="id_organization" class="form-label">Organization</label>
                            <input
                              type="text"
                              class="form-control"
                              value="{{ client.organization }}"
                              name="organization"
                              placeholder="{{client.organization}}" 
                              />
                          </div>
                          <div class="mb-4 col-md-6">
                            <label class="form-label" for="id_phone_number">Phone Number</label>
                              <input
                                type="text"
                                value="{{client.phone_number}}"
                                name="phone_number"
                                class="form-control"
                                placeholder="{{client.phone_number}}"
                                />
                          </div>
                          <div class="mb-4 col-md-6">
                            <label for="id_address" class="form-label">Address</label>
                            <input type="text" class="form-control" value="{{client.address}}" name="address" placeholder="{{client.address}}" />
                          </div>
                          <di class="mb-4 col-md-6">
                            <label for="id_city" class="form-label">City</label>
                            <input class="form-control" type="text" value="{{client.city}}" name="city" placeholder="{{client.city}}" />
                          </di>
                        </div>
                        <div class=" d-flex justify-content-center">
                          <button type="submit" class="btn btn-primary me-3">Save changes</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                  <!-- /User Card -->
                  <!-- Plan Card -->
                  <div class="card mb-6 border border-2 border-primary rounded primary-shadow">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-start">
                        <span class="badge bg-label-primary">Standard</span>
                        <div class="d-flex justify-content-center">
                          <sub class="h5 pricing-currency mb-auto mt-1 text-primary">$</sub>
                          <h1 class="mb-0 text-primary">99</h1>
                          <sub class="h6 pricing-duration mt-auto mb-3 fw-normal">month</sub>
                        </div>
                      </div>
                      <ul class="list-unstyled g-2 my-6">
                        <li class="mb-2 d-flex align-items-center">
                          <i class="ti ti-circle-filled ti-10px text-secondary me-2"></i><span>Balance: {{client.balance}}</span>
                        </li>
                        <li class="mb-2 d-flex align-items-center">
                          <i class="ti ti-circle-filled ti-10px text-secondary me-2"></i
                          ><span>Up to 10 GB storage</span>
                        </li>
                        <li class="mb-2 d-flex align-items-center">
                          <i class="ti ti-circle-filled ti-10px text-secondary me-2"></i><span>Basic Support</span>
                        </li>
                      </ul>
                      <div class="d-flex justify-content-between align-items-center mb-1">
                        <span class="h6 mb-0">Days</span>
                        <span class="h6 mb-0">26 of 30 Days</span>
                      </div>
                      <div class="progress mb-1 bg-label-primary" style="height: 6px">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 65%"
                          aria-valuenow="65"
                          aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                      <small>4 days remaining</small>
                      <div class="d-grid w-100 mt-6">
                        <button class="btn btn-primary" data-bs-target="#upgradePlanModal" data-bs-toggle="modal">
                          Upgrade Plan
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- /Plan Card -->
                </div>
                <!--/ User Sidebar -->

                <!-- User Content -->
                <div class="col-xl-7 col-lg-6 order-0 order-md-1">
                  <!-- User Pills -->
                  <div class="nav-align-top">
                    <ul class="nav nav-pills flex-column flex-md-row flex-wrap mb-6 row-gap-2">
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'clientview' pk=client.pk %}"
                          ><i class="ti ti-user-check ti-sm me-1_5"></i>Account</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'client_detail_pppoe' pk=client.pk %}"
                          ><i class="ti ti-receipt ti-sm me-1_5"></i>Service</a
                        >
                      </li>
                    <!--  <li class="nav-item">
                        <a class="nav-link" href="app-user-view-billing.html"
                          ><i class="ti ti-bookmark ti-sm me-1_5"></i>Usage</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="app-user-view-notifications.html"
                          ><i class="ti ti-bell ti-sm me-1_5"></i>Notifications</a
                        >
                      </li> -->
                    </ul>
                  </div>
                  <!--/ User Pills -->

                  <!-- Invoice table -->
                  <div class="card mb-4">
                    <div class="card-datatable table-responsive">
                      <table class="table datatable-invoice">
                        <thead>
                          <tr>
                            <th></th>
                            <th>#</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Issued Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                  <!-- /Invoice table -->
                </div>
              <!--/ User Content -->
              </div>

            <!--/ Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                  <div class="text-body">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by <a href="https://neesites.co.ke" target="_blank" class="footer-link">Neesites</a>
                  </div>
                  <div class="d-none d-lg-inline-block">
                    <a
                      href="https://docs.neesites.co.ke"
                      target="_blank"
                      class="footer-link me-4"
                      >Documentation</a
                    >
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!--/ Content wrapper -->
        </div>

        <!--/ Layout container -->
      </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    <!--/ Layout wrapper -->





<!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="{% static 'client/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'client/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'client/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'client/vendor/libs/node-waves/node-waves.js' %}"></script>
    <script src="{% static 'client/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'client/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'client/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'client/vendor/libs/typeahead-js/typeahead.js' %}"></script>
    <script src="{% static 'client/vendor/js/menu.js' %}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'client/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'client/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <script src="{% static 'client/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'client/vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'client/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'client/vendor/libs/@form-validation/auto-focus.js' %}"></script>
    <script src="{% static 'client/vendor/libs/cleavejs/cleave.js' %}"></script>
    <script src="{% static 'client/vendor/libs/cleavejs/cleave-phone.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'client/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'client/js/app-user-list.js' %}"></script>
{% endblock %}